<ion-side-menus>
 
    <ion-side-menu-content>
        <ion-content style="background-color:rgb(240,241,248)">
            <div class="list list-inset">
                <div style="text-align:center;">
                    <img src="img/farm_assist_logo.png">
                        </div>
                <br/>
                <label class="item item-input">
                    <input ng-model='name.text' type="text" placeholder="User Name">
                        </label>
                <br/>
                <label class="item item-input">
                    <input ng-model='password.text' type="password" placeholder="Password">
                        </label>
                <br/>
                <button ng-click="submitbutton()" class="button button-block button-positive">
                    Submit
                </button>
            </div>

        </ion-content>
    </ion-side-menu-content>
</ion-side-menus>